/* EditBookForm.css */
.edit-book-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.edit-book-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-book-form button {
    background-color: #2196f3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.edit-book-form button:hover {
    background-color: #0b7dda;
}